@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111827; /* C'est le gris-900 pour un fond uni parfait */
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Empêche le scroll horizontal inutile */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Animation Machine à écrire */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  display: inline-block;
  overflow: hidden; /* Cache le texte qui n'est pas encore écrit */
  white-space: nowrap; /* Force le texte sur une seule ligne */
  border-right: 3px solid #ec4899; /* Le curseur (ici en rose) */
  width: 0; /* Départ à 0 */
  animation: 
    typing 4s steps(60, end) forwards, /* Vitesse de frappe */
    blink .75s step-end infinite; /* Clignotement du curseur */
  max-width: fit-content; /* S'adapte à la taille du texte */
}